.container{
    background-color: aqua;
    width: 16em;
    height: 25em;
    margin: 0 auto;
    margin-top: 10em;
    border-radius: 1em
}

body{
    background-color: red;
    
}

h1{
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
    
}

#input{
    width: 18em;
    text-align: center;
    margin: 0 auto;
    margin-left: .2em;
    border-radius: 2em;
        
}

button{
    margin: 0 auto;
    margin-top: .5em;
    margin-left: 1em;
}

ul{
    float: none;
    list-style: none;
    border-width: medium;
    width: 13em;
    margin: 0 auto;
    margin-top: 1em;
    padding: 0em 0em 5em 0em;
    
}

